
<header>
  <div class="header-container">
    <h1></h1>
    <div class="button-container">
      <a class="a" (click)="hello()" >Account</a>
      <button (click)="logout()">Log out</button>
    </div>
  </div>
  <div>
    <div class="row">
      <div class="col-6">
        <h1>WELCOME, TO <span style="color:#3cd0d3;">THE CERTIFICATE</span> LAB</h1>
        <h3>Would you like to make new certificate?</h3>
        <div class="btn-container">
            <button id="moreBtn" class="btn" type="button">New certificate</button>
          </div>
    </div>
    <div class="col-5">
      <img  class="img" src="assets/img-ib.svg" alt="My SVG File">
    </div>
    </div>
  </div>
</header>
 