<app-navbar></app-navbar>
<script src="https://www.google.com/recaptcha/api.js" async defer></script>

<!-- TODO: forma za kreiranje zahteva MOZE POPUP -->
<div class="margin">
<h1 class="title">MAKE REQUEST</h1>
<hr class="separator">
<div class="card-container ">
    <form [formGroup]="requestForm" (ngSubmit)="submitForm()" class="form-container">
        <div class="form-group">
          <label class="form-label" for="issuer" [class.active]="requestForm.controls['issuer'].value">Issuer:</label>
          <input type="text" id="issuer" formControlName="issuer" required>
        </div>
        <div class="form-group">
          <label class="form-label" for="validTo" [class.active]="requestForm.controls['validTo'].value"></label>
          <input type="date" id="validTo" formControlName="validTo" placeholder="" required>
        </div>
        <div class="form-group">
            <label class="form-label" for="certificateType" [class.active]="requestForm.controls['certificateType'].value">Certificate Type:</label>
            <select id="certificateType" formControlName="certificateType" required>
              <option [ngValue]="null" disabled [selected]="!requestForm.controls['certificateType'].value"></option>
              <option *ngFor="let type of certTypes" [value]="type">{{ type }}</option>
            </select>
          </div>
       
        <div class="form-group">
          <label class="form-label" for="subjectUsername" [class.active]="requestForm.controls['subjectUsername'].value">Subject Username:</label>
          <input type="text" id="subjectUsername" formControlName="subjectUsername" required>
        </div>
        <div class="form-group">
          <label class="form-label" for="reason" [class.active]="requestForm.controls['reason'].value">Reason:</label>
          <textarea id="reason" formControlName="reason"></textarea>
        </div>
        <div class="form-group">
            <div class="g-recaptcha" data-sitekey="6LdSTJ8mAAAAAAVVK5_mZUUVKl-kEDPhl6YZz_Z7">
                <form [formGroup]="aFormGroup">
                    <ngx-recaptcha2 #captchaElem
                      [siteKey]="siteKey"
                      formControlName="recaptcha">
                    </ngx-recaptcha2>
                  </form>
            </div>
          </div>
        <div class="form-group">
          <label class="form-label" for="issuerUsername" [class.active]="requestForm.controls['issuerUsername'].value">Issuer Username:</label>
          <input type="text" id="issuerUsername" formControlName="issuerUsername" required>
        </div>
        <button type="submit" [disabled]="requestForm.invalid">Submit</button>
     
      </form>
      
      
      
</div>
</div>
<app-footer></app-footer>
