<div class="container" id="container">
	<div class="form-container sign-up-container">
		<form action="#" [formGroup]="userForm">
			<h1>Create Account</h1>
			<input type="email" placeholder="Email" formControlName="username"/>
			<input type="text" placeholder="Name" formControlName="name"/>
			<input type="text" placeholder="Lastname" formControlName="lastname"/>
			<input type="text" placeholder="Telephone" formControlName="telephone"/>
			<input type="password" placeholder="Password" formControlName="password"     [ngClass]="{ 'invalid-password': isInvalidPassword() }"/>
			<input type="password" placeholder="Confirm password" formControlName="confirmedPassword"/>
			<button (click)="signUp()">Sign Up</button>
		</form>
	</div>
	<div class="form-container sign-in-container">
		<form action="#" [formGroup]="userForm" *ngIf="!resetPass">
			<h1>Sign in</h1>
			<input type="email" placeholder="Email" formControlName="username"/>
			<input type="password" placeholder="Password" formControlName="password"/>
			<a (click)="forgotPass()">Forgot your password?</a>
			<button (click)="signIn()" >Sign In</button>
      <div class="googleBtn">
        <asl-google-signin-button type=icon size=large></asl-google-signin-button>
      </div>

		</form>

		<form action="#" [formGroup]="resetForm" *ngIf="resetPass">
			<h1>Reset password</h1>

			<div  *ngIf="!codeIsSent">
				<label for="type">Choose option: </label>
				<select formControlName="type">
					<option value="0">Telephone</option>
					<option value="1">Mail</option>
				</select>

				<input type="phone" placeholder="Telephone" formControlName="telephone" *ngIf="resetForm.get('type')?.value === '0'" />
				<input type="email" placeholder="Email" formControlName="username" *ngIf="resetForm.get('type')?.value === '1'" />
				<button (click)="getResetCode()" >GET RESET CODE</button>

			</div>

			<div  *ngIf="codeIsSent">
				<input type="text" placeholder="Code" formControlName="code">
				<input type="password" placeholder="New Password" formControlName="newPassword"/>
				<input type="password" placeholder="Confirm Password" formControlName="newConfirmed"/>
				<button (click)="resetPassword()" >RESET PASSWORD</button>

			</div>
			<a (click)="forgotPass()">Go back</a>
		</form>



	</div>
	<div class="overlay-container">
		<div class="overlay">
			<div class="overlay-panel overlay-left">
				<h1>Welcome Back!</h1>
				<p>To keep connected with us please login with your personal info</p>
				<button class="ghost" id="signIn">Sign In</button>
			</div>
			<div class="overlay-panel overlay-right">
				<h1>Hello, Friend!</h1>
				<p>Enter your personal details and start journey with us</p>
				<button class="ghost" id="signUp">Sign Up</button>
			</div>
		</div>
	</div>
</div>
